body{
    overflow: hidden;
}

.player_body{
    display: flex;
    width:100vw;

    
}

.Side_bar{
    /* border: 1px solid #000; */
    height:100vh;
    flex:0.2;
    background-color: #040404;
    color:white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;

}

.playlists{
    padding-left:10px ;
}


.Side_bar>hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.Sidebar__logo{
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.Sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 2px;

}

.sidebarOptions{
    color: grey;
    height: 40px;
    cursor:pointer;
    width:100%;
    transition: 0.3s color ease;
    display: flex;

    
}

.sidebarOptions:hover{
    color: #fff;
    transition: 0.3s color ease;
    
    
}
.sidebarOptions_Icons{
    padding-inline: 10px;
    

}

.Body{
    /* border: 1px solid #f00; */
    flex: 0.8;
    background: linear-gradient(#5b5773,#000);
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    color: white;
}

.Footer{
    position:fixed;
    bottom: 0;
    height:65px;
    width:100%;
    /* enable for borderbox */
    /* border: 1px solid #f0f; */
    background-color: #282828;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer_center{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.control_icons{
    color: #fff;
}

.footer_right{
    color: #fff;
    margin-right: 5%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    
}

.footer_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
}

.footer_left>p{
    font-size: 12px;
}

.footer_albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_right * .MuiSlider-root{
    color: green;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header_left{
    padding-inline: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 0.4;
}

.header_left>input{
    border: none;
    border-radius:20px ;
    height: 20px;
    padding-inline:20px ;
    background-color: #ccc;
    color: #555;
    flex: 0.5;
}

.header_right{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* body_infotext */
.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;

}

.body_info>img{
    height: 20vw;
    min-height: 200px;
    box-shadow: 0 4px 60px #00000099;
    border-radius: 10px;
}

.body_infotext{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    max-width: 340px;
}
.body_infotext>h2{
    padding-top: 0px;
    font-size: 48px;
    line-height: 50px;
}
.body_infotext>p{
    font-size: 14px;
}

.body_songs{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body_icons{
    display: flex;
    align-items: center;
    gap:20px;
    width: 100%;
    justify-content: flex-start;
    padding-inline: 20px;
}

.body_icons>.MuiSvgIcon-root{
    margin-bottom: 20px;
}

.body_shuffle{
    font-size: 80px !important;
    transition: 100ms all ease;
}

.body_shuffle:hover{
    transition: 100ms transform ease;
    transform: scale(1.08);
    color: greenyellow;
}

.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: white;
  }
  
  .songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
  }
  
  .songRow__info {
    margin-left: 20px;
  }
  
  .songRow__info > h1 {
    font-size: 16px;
  }
  
  .songRow__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
  }
  
  .songRow__album {
    height: 40px;
    width: 40px;
  }

  .tracks_list{
    overflow-y: scroll;
    height: 55vh;
  }

.tracks_list::-webkit-scrollbar{
    display: none;
}